Host *
UseKeychain yes

Host focuslogin
HostName ssh.j-focus.jp
User ulez0004

Host focus
HostName ff01.j-focus.jp
User ulez0004
ProxyCommand ssh focuslogin nc %h %p

Host raspberrypi
HostName raspberrypi.local
User pi

Host red-rail
HostName 192.168.11.92
User onoue

Host great-auk
HostName great-auk.local
User onoue

Host umineko
HostName 172.18.161.111
User onoue

Host virgo
HostName virgo.is.chs.nihon-u.ac.jp
User onoue
Port 50022

Host virgo-cms
HostName virgo.is.chs.nihon-u.ac.jp
User onoue
Port 50022
ProxyCommand nc -X connect -x cache.educ.chs.nihon-u.ac.jp:8080 %h %p
